.blazy-blurry-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.blazy-blurry-wrapper .b-lazy {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: filter .2s, transform .2s;
    opacity: 1;
    max-width: 100%;
    transform: scale(1.05);
    float: left;
}
.blazy-blurry-wrapper .b-loaded {
    filter: blur(0);
    transform: scale(1);
}
