{#
/**
 * @file
 * Theme override for a blazy blurry placeholder image element..
 *
 * Available variables:
 * - image: The image to be displayed.
 * - height: The height of the container that holds the placeholder.
 * - width: The width of the container that holds the placeholder.
 * - url: The url the image links to.
 *
 * @see template_preprocess_blazy_blurry_placeholder_image()
 */
#}
{% if height and width and ratio %}
  <div class="blazy-blurry-wrapper clearfix" style="max-height: {{ height }}px; max-width: {{ width }}px;">
    {% if url %}
      <a href="{{ url }}">{{ image }}</a>
    {% else %}
      {{ image }}
    {% endif %}
  </div>
{% else %}
  {% if url %}
    <a href="{{ url }}">{{ image }}</a>
  {% else %}
    {{ image }}
  {% endif %}
{% endif %}
